= render "shared/intro_section", :header => "earth_tours.index.intro_hdr",
  :paragraphs => ["earth_tours.index.intro_p", {:key => "earth_tours.index.download_link_html", :vars => { :url => "https://drive.google.com/open?id=0BwhfjK8RzkUZQ2FzOG1wQ0VuRjA"}}],
  :hideable => false
.tours
  - @tours.each do |tour|
    .tour
      %h2.tour-hdr= t("earth_tours.titles.#{tour.title_key}")
      %p.resp-p.desc= t("earth_tours.descriptions.#{tour.desc_key}") 
      - if tour.extra_link_key
        %p.resp-p.desc
          = link_to t("earth_tours.links.#{tour.extra_link_key}"), tour.extra_link_url
      .l-fluid-iframe
        %iframe{:width => 560, :height => 315, :src => tour.embed_url, :frameborder => 0, :allow => "autoplay; encrypted-media", :allowfullscreen => true}
      = render "credits"
