%li{:class => "featured-lesson-plan #{order}"}>
  %div{:class => "top-bar grade-level-#{grade_level}"}
    %span.text
      - case grade_level
      - when 1
        = t "lesson_plans.index.grades_2_5_noage"
      - when 2
        = t "lesson_plans.index.grades_6_8_noage"
      -when 3
        = t "lesson_plans.index.grades_9_12_noage"
    %span.icons
      -if icons.include? :tree
        %i{:class => "icon-tree"}
      -if icons.include? :card
        %i{:class => "icon-card"}
      -if icons.include? :stats
        %i{:class => "icon-stats"}
  .image-wrap
    %img.image{:src => image_path("lesson_plans/#{category}_icon.jpg")}
    .text-overlay= t "lesson_plans.titles.#{title_key}"
