- id_string = "LessonPlan#{lesson.id}"

%li{:class => ["lesson-plan", (index % 2 == 1 ? "even" : "odd"), ("last" if index == total - 1), ("external" if lesson.external?)], :id => id_string}
  .left-wrap
    = image_tag lesson.theme.icon_path, :class => "lesson-plan-icon"
    = render "icons", :lesson => lesson, :class_ext => "horiz"

    -if lesson.download?
      = link_to lesson.resource_path, :class => "pdf-button-small", :download => "" do
        %i.fa.fa-download.fa-lg
    -else
      = link_to lesson.resource_path, :class => "pdf-button-small external-lesson-plan" do
        %i.fa.fa-external-link.fa-lg

    %h3.lesson-plan-title= lesson.localized_name

    = render "icons", :lesson => lesson, :class_ext => "vert"

    .lesson-plan-text 
      .lesson-plan-desc.first= lesson.localized_desc

      %ul.lesson-plan-objectives
        - lesson.localized_objectives.each do |objective|
          %li.objective= objective
    -if lesson.download?
      = link_to lesson.resource_path, :class => "pdf-button", :download => "" do
        %i.fa.fa-download.fa-lg
    -else
      = link_to lesson.resource_path, :class => "pdf-button" do
        %i.fa.fa-external-link.fa-lg


