= render "shared/intro_section", :header => "lesson_plans.index.intro_hdr",
  :paragraphs => ["lesson_plans.index.intro_p_html"],
  :hideable => false
= render "shared/section_head", :title_key => "lesson_plans.index.featured_lesson_plans"
%ul.featured-lesson-plans<
  = render "featured", :order => "first",
    :grade_level => 1,
    :icons => ["card"],
    :category => "energy_flow",
    :title_key => "what_is_classification"
  = render "featured", :order => "second",
    :grade_level => 1,
    :icons => ["tree", "card", "stats"],
    :category => "adaptations",
    :title_key => "animal_classification"
  = render "featured", :order => "third",
    :grade_level => 2,
    :icons => ["tree"],
    :category => "science_skills",
    :title_key => "plant_classification"
  = render "featured", :order => "fourth",
    :grade_level => 3,
    :icons => ["tree", "card", "stats"],
    :category => "classification",
    :title_key => "thats_classified"
= render "shared/section_head", :title_key => "lesson_plans.index.all_lesson_plans"

.all-lesson-plans
  .grade-level
    .grade-level-bar.grade-level-1= t ".grades_2_5"
    %ul.lesson-plan-list
      -grade_1_lessons.each_with_index do |lesson, index|
        =render "regular", :lesson => lesson, :index => index, :total => grade_1_lessons.length
  .grade-level
    .grade-level-bar.grade-level-2= t ".grades_6_8"
    %ul.lesson-plan-list
      -grade_2_lessons.each_with_index do |lesson, index|
        =render "regular", :lesson => lesson, :index => index, :total => grade_2_lessons.length
  .grade-level.last
    .grade-level-bar.grade-level-3= t ".grades_9_12"
    %ul.lesson-plan-list
      -grade_3_lessons.each_with_index do |lesson, index|
        =render "regular", :lesson => lesson, :index => index, :total => grade_3_lessons.length
= render "shared/section_head", :title_key => "lesson_plans.index.category_key"
.category-key.grade-level-key#GradeLevelKey>
  .grade-level-bar.grade-level-1= t ".grades_2_5"
  .grade-level-bar.grade-level-2= t ".grades_6_8"
  .grade-level-bar.grade-level-3= t ".grades_9_12"
.category-key.subject-key#SubjectKey>
  .subject.first>
    = image_tag "lesson_plans/classification_icon.jpg", :class => "subject-icon"
    .subject-name= t ".classification"
  .subject.second>
    = image_tag "lesson_plans/science_skills_icon.jpg", :class => "subject-icon"
    .subject-name= t ".science_skills"
  .subject.third>
    = image_tag "lesson_plans/adaptations_icon.jpg", :class => "subject-icon"
    .subject-name= t ".adaptations"
  .subject.fourth>
    = image_tag "lesson_plans/energy_flow_icon.jpg", :class => "subject-icon"
    .subject-name= t ".energy_flow"
.category-key.icon-key#IconKey
  .icon-row
    %i.icon.icon-stats
    .icon-desc= t ".this_lesson_stats"
  .icon-row
    %i.icon.icon-tree
    .icon-desc= t ".this_lesson_field"
  .icon-row
    %i.icon.icon-card
    .icon-desc= t ".this_lesson_cards"

