
<h2>Create a brand-new habitat</h2>
<%= form_for([@place, @habitat]) do |f| %>
  <% if @habitat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habitat.errors.count, "error") %> prohibited this habitat from being saved:</h2>

      <ul>
      <% @habitat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :place_id %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<h2>Copy a preexisting habitat</h2>
<%= form_tag(place_habitats_copy_path(@place)) do |f| %>
  <% @all_habitats.each do |habitat| %>
    <div class="field">
    <%= radio_button_tag(:habitat_to_copy_id, habitat.id) %>
    <%= label_tag(:habitat_to_copy_id, place_habitat_name(habitat)) %>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag(:habitat_copy_name, "New copy name") %>
    <%= text_field_tag :habitat_copy_name %>
  </div>

  <div class="actions">
    <%= submit_tag "Copy habitat"%>
  </div>
<% end %>
