<%= form_for([@place, @habitat]) do |f| %>
  <% if @habitat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habitat.errors.count, "error") %> prohibited this habitat from being saved:</h2>

      <ul>
      <% @habitat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :place_id %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= render "shared/published_locale_fields", :model => @habitat %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

