<h1>New Habitat</h1>

<%= form_for([@place, @habitat]) do |f| %>
  <% if @habitat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@habitat.errors.count, "error") %> prohibited this habitat from being saved:</h2>

      <ul>
      <% @habitat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <p>Copy content from another habitat (optional)</p>

  <% @all_habitats.each do |habitat| %>
    <div class="field">
    <%= radio_button_tag(:habitat_to_copy_id, habitat.id, false, data: { locales: locales_with_content_string(habitat) }) %>
    <%= label_tag(:habitat_to_copy_id, place_habitat_name(habitat)) %>
    </div>
  <% end %>
  <i class="fa fa-spinner fa-spin fa-2x hide"></i>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', @place %>

<script id="lang-checkbox-template"  type="text/x-handlebars-template"> 
  <div id="langs-dynamic">
    <p>This habitat has content for the following locales. Which would you like to copy?</p>
    <div class="field">
      {{#each langs}}
      <%= label_tag('habitat_copy_langs[]', '{{lang}}') %>
      <%= check_box_tag('habitat_copy_langs[]', '{{lang}}', false) %>
      {{/each}}
    </div>
  </div>
</script>

<script id="langs-with-content-url-template" type="text/x-handlebars-template">
  <%= place_habitat_langs_with_content_path(@place, "{{}}") %>
</script>