<%= editable_tag(:h1, @habitat.h1_key) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @habitat.name %>
</p>

<%= link_to 'Edit', edit_place_habitat_path(@place, @habitat) %> |
<%= link_to 'Back', @place %>
