<%= form_for([@gallery, @gallery_photo]) do |f| %>
  <% if @gallery_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gallery_photo.errors.count, "error") %> prohibited this gallery_photo from being saved:</h2>

      <ul>
      <% @gallery_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :rights_holder %><br>
    <%= f.text_field :rights_holder %>
  </div>

  <div class="field">
    <%= f.label :source %><br>
    <%= f.text_field :source %>
  </div>

  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </div>
  
  <div class="field">
    <%= f.label :license_id, "License" %><br>
    <%= f.select :license_id, options_for_select(licenses_for_select) %>

    <div id="LICENSE_DESCS">
      <% License.all.each do |license| %>
        <p class="license_desc <%= 'hide' unless license.id == 1 %>" data-license-id="<%= license.id %>">
        <%= t("models.license.desc.#{license.translation_key}") %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
