<p id="notice"><%= notice %></p>

<h1>Listing Gallery Photos</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Source</th>
      <th>Caption</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gallery_photos.each do |gallery_photo| %>
      <tr>
        <td><%= gallery_photo.image_file_name %></td>
        <td><%= gallery_photo.source %></td>
        <td><%= gallery_photo.caption %></td>
        <td><%= link_to 'Show', gallery_gallery_photo_path(@gallery, gallery_photo) %></td>
        <td><%= link_to 'Edit', edit_gallery_gallery_photo_path(@gallery, gallery_photo) %></td>
        <td><%= link_to 'Destroy', gallery_gallery_photo_path(@gallery, gallery_photo), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery photo', new_gallery_gallery_photo_path(@gallery) %> | 
<%= link_to 'Back to gallery', @gallery %>
