<p id="notice"><%= notice %></p>

<p>
  <strong>Image</strong>
  <%= image_tag @gallery_photo.image.url %>
</p>

<p>
  <strong>Author:</strong>
  <%= @gallery_photo.author %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @gallery_photo.caption %>
</p>

<%= link_to 'Edit', edit_gallery_gallery_photo_path(@gallery, @gallery_photo) %> |
<%= link_to 'Back', gallery_gallery_photos_path(@gallery) %>
