.field
  = f.label :password, :class => "label"
  = f.password_field :password,
      :pattern  => ".{#{User::PASSWORD_MIN_LENGTH},}",
      :required => true,
      :title    => t_model_error(:user, :password, :too_short,
                                 :count => User::PASSWORD_MIN_LENGTH),
      :class    => "input"
.field
  = f.label :password_confirmation, :class => "label"
  = f.password_field :password_confirmation, :required => true, :class => "input"
