%h1 Change Password

= form_for @user, :url => { :action => :change_password } do |f|
  = render "errors"
  .field
    = f.label :current_password
    = f.password_field :current_password
  = render :partial => "password_fields", :locals => { :f => f }

  .actions
    = f.submit "Change Password"

.msg= @msg if @msg
