.form-wrap
  %h1.hdr Change Password

  = render "errors"

  = form_for(@user,
    { :html => { :class => "form" },
      :url => { :action => :change_password } }) do |f|
    .field
      = f.label :current_password, :class => "label"
      = f.password_field :current_password, :class => "input"

    = render :partial => "password_fields", :locals => { :f => f }

    .actions
      = f.submit "Change Password", :class => "submit"

  .msg= @msg if @msg
