<h1><%= t(".header") %></h1>

<% if @error_msg %>
  <div id="error_explanation"><%= @error_msg %></div>
<% end %>

<%= form_tag forgot_password_path do %>
  <div class="field">
    <%= label_tag :user_name %><br>
    <%= text_field_tag :user_name %>
  </div>

  <div class="actions">
    <%= submit_tag t(".submit") %>
  </div>
<% end %>
