.l-form-box
  %h1= t(".header")

  - if @error_msg
    %p.txt.txt-block= @error_msg

  = form_tag forgot_password_path, :class => "form" do
    = text_field_tag :user_name, 
      nil, 
      :class => "input block", 
      :placeholder => t("activerecord.attributes.user.user_name")
    = submit_tag t(".submit"), :class => "submit block"
