%h1= t(".header")

- if @error_msg
  #error_explanation= @error_msg

= form_tag forgot_password_path do
  .field
    = label_tag :user_name
    = text_field_tag :user_name

  .actions
    = submit_tag t(".submit")
