<h1><%= t("users.sign_up") %></h1>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email, t("users.email_label") %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :user_name, t("users.user_name_label")%><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :full_name, t("users.full_name_label")%><br>
    <%= f.text_field :full_name %>
  </div>
  <div class="field">
    <%= f.label :password, t("users.password_label") %><br>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t("users.password_confirmation_label")%><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit t("users.sign_up") %>
  </div>
<% end %>

<%= link_to 'Back', users_path %>

