.l-form-box
  %h1= t(".sign_up")

  = render "errors"

  = form_for(@user, :html => { :id => "user-form", :class => "form" }) do |f|
    = f.email_field :email, :required => true, :class => "input block", :placeholder => true
    = f.text_field :user_name,
        :pattern  => User::USER_NAME_PATTERN,
        :required => true,
        :title    => t_model_error(:user, :user_name, :invalid),
        :class    => "input block",
        :placeholder => true

    = f.text_field :full_name, :required => true, :class => "input block", :placeholder => true
    = render :partial => "password_fields", :locals => { :f => f}
    = f.submit t(".sign_up"), :class => "submit block g-recaptcha", :data => { :sitekey => '6LdeYEAaAAAAAJxY8nbvin1Lr2-8am6BJP2LLdFp', :callback => 'onNewUserSubmit', :action => 'submit' }
