.l-form-box
  %h1= t(".header")

  = render "errors"

  = form_for(@user,
    { :url => { :action => :reset_password },
      :html => { :class => "form" } }) do |f|

    = render :partial => "password_fields", :locals => { :f => f }

    = f.submit t(".header"), :class => "submit block"
