<h1><%= t(".header") %></h1>

<%= form_for @user, :url => { :action => :reset_password } do |f| %>
  <%= render "errors" %>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit t(".header") %>
  </div>
<% end %>
