.form-wrap
  %h1.hdr= t(".header")

  = form_for(@user,
    { :url => { :action => :reset_password },
      :html => { :class => "form" } }) do |f|
    = render "errors"
    = render :partial => "password_fields", :locals => { :f => f }

    .actions
      = f.submit t(".header"), :class => "submit"

  .msg= @msg if @msg
