%h1= t(".header")

= form_for @user, :url => { :action => :reset_password } do |f|
  = render "errors"
  = render :partial => "password_fields", :locals => { :f => f }

  .actions
    = f.submit t(".header")

.msg= @msg if @msg
