%h1= t(".header")

= form_for @user, :url => { :action => :reset_password } do |f|
  = render "errors"

  .field
    = f.label :password
    = f.password_field :password

  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  .actions
    = f.submit t(".header")
