#Topbar.topbar<
  .topbar-inner
    #TitleContainer.title-container>
      #EolNav.nav-menu.nav-menu-eol.nav-link
        = link_to root_path, :class => "eol-nav-a" do
          = image_tag "welcome/eol_logo.png", :class => "eol-logo"
        %ul#EolDropdown.eol-dropdown
          %li.eol-link.selected
            = link_to t(".eol_nav.l_and_e"), root_path
          %li.eol-link
            = link_to t(".eol_nav.eol"), "http://www.eol.org"
      .nav-menu.nav-menu-user
        -if logged_in_user
          %div= logged_in_user.user_name
          %ul.user-dropdown
            %li= link_to t("shared.header.sign_out"), logout_path
        -else
          = link_to t("shared.header.sign_in"), login_path, :class => "about nav-link"
      #BarsIcon.bars.fa.fa-bars
      %h1#Title.title 
        = t ".main_title_html"
    #SlideMenu.slide-menu>
      .section<
        .color-bar.green
        = link_to "EOL.org", "http://www.eol.org/", :class => :link
      .divider
      .section<
        .color-bar.blue
        -if about_page? 
          .link 
            = t ".about"
            %i.fa.fa-check.cur-page-check
        -else
          = link_to t(".about"), about_path, :class  => :link
-# get rid of about_page?
