#Topbar.topbar
  .topbar-inner
    .nav-wrap
      #EolNav.eol-nav.nav-link
        = link_to root_path, :class => "eol-nav-a" do
          = image_tag "welcome/eol_logo.png", :class => "eol-logo"
        %ul#EolDropdown.eol-dropdown
          %li.eol-link.selected
            = link_to t(".eol_nav.l_and_e"), root_path
          %li.eol-link
            = link_to t(".eol_nav.eol"), "http://www.eol.org"
      -if !current_page?(:controller => "welcome", :action => "about")
        = link_to about_path, :class => "about nav-link", :id => "About" do
          = t ".about_us"
    %h1#Title.title 
      = t ".main_title_html"
