#WelcomeBox.welcome-box
  %h2.welcome-hdr
    = t ".welcome_box.welcome_to_l_and_e"
  #WelcomeContent.welcome-content
    %p.welcome-p
      = t ".welcome_box.l_and_e_is_part"
    %p.welcome-p.hidden 
      = t ".welcome_box.our_website_transition_html"
  #WelcomeMoreBar.welcome-more-bar
    #WelcomeMoreText.welcome-more-text more
.section-head 
  %h2.section-title
    = t ".sections.l_and_e_resources_title"
%ul.nav-items<
  = render "nav_item",
    :width => "single",
    :href => "/memory",
    :image_name => "memory_game",
    :text_key => "memory_games",
    :klazz => "memory-games"
  = render "nav_item",
    :width => "double",
    :href => "/ecosystems",
    :image_name => "eol_places",
    :text_key => "eol_places",
    :klazz => "ecosystems"
  = render "nav_item",
    :width => "double",
    :href => "#",
    :image_name => "lesson_plans",
    :text_key => "lesson_plans",
    :klazz => "lesson-plans"
  = render "nav_item",
    :width => "single",
    :href => "#",
    :image_name => "species_cards",
    :text_key => "species_cards",
    :klazz => "species-cards"
.section-head
  %h2.section-title 
    = t ".sections.eol_resources_title"
%ul.nav-items<
  = render "nav_item",
    :width => "single",
    :href => "http://eol.org/info/discover_articles",
    :image_name => "biodiversity_articles",
    :text_key => "biodiv_articles",
    :klazz => "biodiv-articles"
  = render "nav_item",
    :width => "double",
    :href => "http://eol.org/info/disc_google_earth",
    :image_name => "google_tours",
    :text_key => "google_tours",
    :klazz => "google-tours"
  = render "nav_item",
    :width => "single",
    :href => "http://eol.org/info/podcasts",
    :image_name => "podcasts",
    :text_key => "podcasts",
    :klazz => "podcasts"
  = render "nav_item",
    :width => "single",
    :href => "http://eol.org/info/featured_collections",
    :image_name => "collections",
    :text_key => "featured_collections",
    :klazz => "collections"
  = render "nav_item",
    :width => "single",
    :href => "http://eol.org/collections/21048",
    :image_name => "hi_res_images",
    :text_key => "hi_res_images",
    :klazz => "hi-res-images"
.section-head
  %h2.section-title
    = t (".sections.partner_resources_title")
%ul.nav-items<
  = render "nav_item",
    :width => "double",
    :href => "http://www.inaturalist.org/",
    :image_name => "inaturalist",
    :text_key => "inaturalist",
    :klazz => "inaturalist"
  = render "nav_item",
    :width => "single",
    :href => "https://drive.google.com/file/d/0B00hDkSQMhfDMXdIVng0NGd0WlU/view",
    :image_name => "bhl_coloring",
    :text_key => "coloring_books",
    :klazz => "coloring-books"
