%li{:class => "nav-item #{width}-width #{klazz}"}
  %a{ :href => href }
    .img-wrap
      =nav_image image_name
      .nav-overlay 
        = t ".desc.#{text_key}"
      .bar
        = t ".title.#{text_key}"
