=link_to url do
  .slide
    = render "shared/hero_image", :large => slide_image_path(img),
      :small => small_slide_image_path(img)
    .slide-overlay-wrap 
      .slide-overlay
        .slide-overlay-inner
          .slide-head-grp
            .slide-title= t "welcome.index.slides.titles.#{title_key}"
            .slide-subtitle= t "welcome.index.slides.subtitles.#{content_key}"
          .slide-desc= t "welcome.index.slides.descriptions.#{content_key}"
