.about-box
  %h2.about-hdr= t(".about_group_hdr")
  .about-content
    %p.about-p= t(".eol_is_an_open_science_html")
    %p.about-p= t(".thats_where_l_and_e_comes_in_html")
    %p.about-p= t(".if_you_are_interested_in_collaborating_html")

.team-head
  %h2.team-head-title= t ".meet_the_team"
  %p.team-head-content= t ".le_is_located_html"
= render "bio", :bio_img_path => "http://www.placekitten.com/129/129",
  :bio_name => "Tracy Barbaro",
  :bio_title => "Projects Coordinator",
  :bio_txt => "foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo"
= render "bio", :bio_img_path => "http://www.placekitten.com/129/129",
  :bio_name => "Tracy Barbaro",
  :bio_title => "Projects Coordinator",
  :bio_txt => "foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo foo"

  
