= render "shared/intro_section", :header => "welcome.about.about_group_hdr",
  :paragraphs => ["welcome.about.eol_is_an_open_science_html", "welcome.about.thats_where_l_and_e_comes_in_html", "welcome.about.if_you_are_interested_in_collaborating_html"],
  :hideable => false
.team-head
  %h2.team-head-title= t ".meet_the_team"
  %p.team-head-content= t ".le_is_located_html"
= render "bio", :bio_img_path => "welcome/bio/tracy.jpg",
  :bio_name => "tracy_name",
  :bio_title => "project_coordinator",
  :bio_txt => "tracy_bio"
= render "bio", :bio_img_path => "welcome/bio/amy.jpg",
  :bio_name => "amy_name",
  :bio_title => "project_coordinator",
  :bio_txt => "amy_bio"
= render "bio", :bio_img_path => "welcome/bio/marie.jpg",
  :bio_name => "marie_name",
  :bio_title => "director",
  :bio_txt => "marie_bio"

  
