= render "shared/intro_section", :header => "welcome.about.about_group_hdr", :class => "intro-about",
  :paragraphs => ["welcome.about.eol_is_an_open_science_html"]
.team-head
  %h2.team-head-title= t ".meet_the_team"
  %p.team-head-content= t ".le_is_located_html", 
    :eol_groups_url => "http://eol.org/info/working_groups",
    :mcz_url => "http://www.mcz.harvard.edu/"
= render "bio", :bio_img_path => "welcome/bio/tracy.jpg",
  :bio_name => "tracy_name",
  :bio_title => "project_coordinator",
  :bio_txt => "tracy_bio"
= render "bio", :bio_img_path => "welcome/bio/zoe.jpg",
  :bio_name => "zoe_name",
  :bio_title => "intern",
  :bio_txt => "zoe_bio"
= render "bio", :bio_img_path => "welcome/bio/carly.jpg",
  :bio_name => "carly_name",
  :bio_title => "ux_designer",
  :bio_txt => "carly_bio"
= render "bio", :bio_img_path => "welcome/bio/marie.jpg",
  :bio_name => "marie_name",
  :bio_title => "director",
  :bio_txt => "marie_bio"
= render "bio", :bio_img_path => "welcome/bio/michael.jpg",
  :bio_name => "michael_name",
  :bio_title => "software_developer",
  :bio_txt => "michael_bio"
= render "shared/image_credits", 
  :images => [{ :title => "Banner image", 
  :author => "Charlie Vogelheim",
  :source => "Teton Science Schools",
  :license => "CC-BY-NC"}]
  
