#HeaderBg
#HeaderGrp
  #Topbar
    -#%a#EolLink{:href => "www.eol.org"}
    .col-container
      #SignInBtn.txt-wht= t ".sign_in"
  #Header
    #Logo
      #LogoMain= t ".main_title"
      #LogoSub.txt-wht= t ".sub_title"
  %nav#Navbar
    %ul
      - nav_cats.each do |cat|
        %li
          %div.nav-txt
            %span.nav-txt-inner= cat.label.text
            %i.fa.fa-caret-down.fa-lg.nav-arw
          %div{:class => "color-bar #{cat.label.color}"}
          %ul
            - cat.items.each do |item|
              %li
                = link_to (image_tag item.img_url), item.target_url, :target => "_blank"
                = link_to item.text, item.target_url, :target => "_blank"
#AccountPanel
  .inner
    .left-col
      %h2= t ".accounts.sign_in_header"
      = form_for :user_session do |f|
        .field
          = f.label :user_name, t(".accounts.username_label"), :class => "txt-wht"
          = f.text_field :user_name
        .field
          = f.label :password, t(".accounts.password_label")
          = f.password_field :password
        = f.submit t(".sign_in"), :class => "txt-wht"
    .right-col
      %h2= t ".accounts.new_account_header"

#MainCol
  .dyn-blur
  #WelcomeBox.content-box
    %h2#WelcomeHdr= t ".welcome_h"
    %p= t ".welcome_p1_html"
    %p= t ".welcome_p2"
  .dyn-blur
  #FeaturedGalleryOuter.content-box
    #FeaturedGallery
      .gallery-item 
        .topbar How can you use Learning + Education at the Encyclopedia of Life?
        = image_tag "welcome/classroom.png"
        .desc 
          %h3 Red shrimpy thing
          .body A podcast about a species and learning and stuff
      .gallery-item 
        .topbar How can you use Learning + Education at the Encyclopedia of Life?
        = image_tag "welcome/classroom.png"
        .desc 
          %h3 Red shrimpy thing
          .body A podcast about a species and learning and stuff

.dyn-blur
#Footer
  %h2= t ".footer.mcz_credit_header"
  = image_tag "welcome/mcz_logo.jpg", :id => "MczLogo"
  .addr_line= t ".footer.l_and_e_at_mcz_html"
  .addr_line= t ".footer.address_and_contact_html"

