#Page
  #Topbar.topbar
    .topbar-inner
      #EolNav.eol-nav.nav-link
        =image_tag "welcome/eol_logo.png", :class => "eol-logo"
        %ul#EolDropdown.eol-dropdown
          %li.eol-link.selected
            =link_to t(".eol_nav.l_and_e"), root_path
          %li.eol-link
            =link_to t(".eol_nav.eol"), "http://www.eol.org"

      %h1#Title.title 
        = t ".main_title_html"
      #About.about.nav-link
        = t ".about_us"
  #Slideshow.slideshow
    %img{:src => "https://placekitten.com/1441/426", :class => "slideshow-img"}
  .main-col
    .welcome-box
      %h2.welcome-hdr       
        = t ".welcome_box.welcome_to_l_and_e"
      %p.welcome-p       
        = t ".welcome_box.l_and_e_is_part"
      %p.welcome-p 
        = t ".welcome_box.our_website_transition_html"
    .section-head 
      %h2.section-title
        = t ".sections.l_and_e_resources_title"
      %p.section-intro
        = t ".sections.l_and_e_resources_desc"
    %ul.nav-items<
      = render "nav_item",
        :width => "double",
        :href => "/ecosystems",
        :image_name => "eol_places",
        :overlay_text => "eol_places",
        :bar_text => "eol_places"
      = render "nav_item",
        :width => "single",
        :last => true,
        :href => "/memory",
        :image_name => "memory_game",
        :overlay_text => "memory_game",
        :bar_text => "memory_game"
    .section-head
      %h2.section-title 
        = t ".sections.eol_resources_title"
      %p.section-intro
        = t ".sections.eol_resources_desc"
    %ul.nav-items<
      = render "nav_item",
        :width => "single",
        :href => "#",
        :image_name => "biodiversity_articles",
        :overlay_text => "biodiv_articles",
        :bar_text => "biodiv_articles"
      = render "nav_item",
        :width => "single",
        :href => "#",
        :image_name => "podcasts",
        :overlay_text => "podcasts",
        :bar_text => "podcasts"
      = render "nav_item",
        :width => "single",
        :last => true,
        :href => "#",
        :image_name => "species_cards",
        :overlay_text => "species_cards",
        :bar_text => "species_cards"
      = render "nav_item",
        :width => "double",
        :href => "#",
        :image_name => "google_tours",
        :overlay_text => "google_tours",
        :bar_text => "google_tours"
      = render "nav_item",
        :width => "single",
        :href => "#",
        :image_name => "lesson_plans",
        :overlay_text => "lesson_plans",
        :bar_text => "lesson_plans",
        :last => true
      = render "nav_item",
        :width => "single",
        :href => "#",
        :image_name => "collections",
        :overlay_text => "featured_collections",
        :bar_text => "featured_collections"
      = render "nav_item",
        :width => "double",
        :last => true,
        :href => "#",
        :image_name => "hi_res_images",
        :overlay_text => "hi_res_images",
        :bar_text => "hi_res_images"
    .section-head
      %h2.section-title
        = t (".sections.partner_resources_title")
      %p.section-intro 
        = t (".sections.partner_resources_desc")
    %ul.nav-items<
      = render "nav_item",
        :width => "double",
        :href => "#",
        :image_name => "inaturalist",
        :overlay_text => "inaturalist",
        :bar_text => "inaturalist"
      = render "nav_item",
        :width => "single",
        :last => true,
        :href => "#",
        :image_name => "bhl_coloring",
        :overlay_text => "coloring_books",
        :bar_text => "coloring_books",
        :two_line_bar => true
