= render "shared/intro_section", header: "welcome.index.intro_header", paragraphs: ["welcome.index.intro_text_html"]
%h3 TEST #2
%ul.home-sections
  = render "section", type: "cards", desc_vars: { card_maker_path: card_maker_path, cards_path: cards_path }, page_id: 313045, taxon_name_key: "prevosts_squirrel_html"
  = render "section", type: "lessons", desc_vars: { lesson_plans_path: lesson_plans_path }, page_id: 484394,
    buttons: [ { text_key: "lesson1", path: lesson_plans_path(anchor: "grade_level=0") }, 
    { text_key: "lesson2", path: lesson_plans_path(anchor: "grade_level=1") },
    { text_key: "lesson3", path: lesson_plans_path(anchor: "grade_level=2") }],
    taxon_name_key: "nasturtium_html"
  = render "section", type: "tourspods", desc_vars: { earth_tours_path: earth_tours_path, podcasts_path: podcasts_path }, page_id: 45509576, taxon_name_key: "violet_woodnymph_html"
%h3.partner-head= t(".partner_resources")
%ul.parter-sections<
  = render "partner_section", type: "cnc"
  = render "partner_section", type: "bhl"
  = render "partner_section", type: "inat"

= render "shared/image_credits", :images => [ { :title => "Nasturtium",
  :author => "BJ Stacey",
  :license => "CC-BY-NC"},
  {:title => "Violet-crowned Woodnymph",
  :author => "Kathy & Sam",
  :license => "CC-BY"},
  {:title => "Blue Crab",
  :author => "Tim Buss",
  :license => "CC-BY"},
  {:title => "Cliff Chipmunk",
  :author => "Katja Schulz",
  :license => "CC-BY"},
  {:title => "City Nature Challenge",
  :author => "Stuart Wainstock",
  :license => "CC-BY-NC"},
  {:title => "Papillons",
  :author => "Séguy, E.A."},
  {:title => "Tea Plant",
  :author => "Arthur Chapman",
  :license => "CC-BY-NC-SA"}]
