= render "shared/intro_section", :header => "welcome.index.welcome_box.welcome_to_l_and_e", 
  :paragraphs => ["welcome.index.welcome_box.l_and_e_is_part_html"],
  :hideable => true

= render "shared/section_head", :title_key => "welcome.index.sections.l_and_e_resources_title",
  :top => true
%ul.nav-items<
  = render "nav_item",
    :width => "single",
    :href => card_maker_path,
    :text_key => "card_maker",
    :klazz => "card-maker"
  = render "nav_item",
    :width => "single",
    :href => cards_path,
    :text_key => "biodiv_cards",
    :klazz => "species-cards"
  = render "nav_item",
    :width => "single",
    :href => lesson_plans_path,
    :text_key => "lesson_plans",
    :klazz => "lesson-plans"
  = render "nav_item",
    :width => "single",
    :href => podcasts_path,
    :text_key => "podcasts",
    :klazz => "podcasts"
  = render "nav_item",
    :width => "single",
    :href => earth_tours_path,
    :text_key => "google_tours",
    :klazz => "google-tours"
  = render "nav_item",
    :width => "single",
    :href => "http://eol.org/info/discover_articles",
    :text_key => "biodiv_articles",
    :klazz => "biodiv-articles border"
= render "shared/section_head", :title_key => "welcome.index.sections.partner_resources_title"
%ul.nav-items<
  = render "nav_item",
    :width => "single",
    :href => "http://www.inaturalist.org/",
    :text_key => "inaturalist",
    :klazz => "inaturalist border"
  = render "nav_item",
    :width => "single",
    :href => "https://drive.google.com/file/d/0B00hDkSQMhfDMXdIVng0NGd0WlU/view",
    :text_key => "coloring_books",
    :klazz => "coloring-books border"
  = render "nav_item",
    :width => "single",
    :href => "http://citynaturechallenge.org/education-toolkit/",
    :text_key => "cnc",
    :klazz => "cnc border"

= render "shared/image_credits", :images => [ { :title => "Harris Hawk",
  :author => "Ronnie MacDonald",
  :source => "Flickr",
  :url => "https://www.flickr.com/photos/ronmacphotos/14249976572/in/photolist-nHdRzf-8UsKkj-7SXcXE-mSvRiV-dLstZK-JjMLwH-dj359j-eJE7MR-dNMczm-mLZJqB-7mWRtF-caYzB5-vFJtH-8Jifnn-9vVhVL-CXXGeD-CXXGc4-dm2sLQ-JSS6NT-dQanK3-C4udKn-cyDarm-mNeYaM-dohWym-fgNjdV-28bdaM-otcY5D-JPNLtA-ahub53-a5uqa2-cTx69C-8K4Rw5-HNaZNB-oa4Jzr-cQcdn7-xpUiA6-ikuGQB-aBD9FK-ncu1Y8-fpgx6g-mxdVdM-dx7nGB-GkFV67-ajXYBy-jzLH1k-oreZYY-p6oSB6-dRiWm5-62Qyjz-a7tSZt",
  :license => "CC-BY"},
  {:title => "Pygmy Seahorse",
  :author => "Steve Childs",
  :source => "Flickr",
  :url => "https://www.flickr.com/photos/steve_childs/3165736793/in/photolist-4znLaG-stSbmH-5PKefR",
  :license => "CC-BY"},
  {:title => "California Red-legged Frog",
  :author => "Ashley Spratt",
  :source => "Flickr",
  :url => "https://www.flickr.com/photos/usfws_pacificsw/15420718381/in/photolist-puFdjR-4PbnVw-4rTkyV-oS6HUB-7XHnJf-6AvVH4-9E8UUc-8BagZ8-6GBskN-7P1LGH-tzYbCn-6GwUfX-5QZQ5R-pp3pYd-vc976h-6GBjkA-64GrLF-hT8oCw-6Gxjnp-HSiNtK-5R4yww-4Q8rJ2-5QZ5GF-4omkSo-5R53kW-8fiHvp-63LJE7-ozTbvm-5QZiVi-5R5MVm-dS7r7Y-8NDzJs-5QZ6DV-5R97XA-5QZkeH-5R4HJA-8fiHtk-s8qKhn-735K9w-9VvXnu-77sAkc-hT8xcf-4eCdLM-kQeyfu-77wEpm-4ZnppJ-a8bytU-49x43G-pKDktp-5QZsUP",
  :license => "CC-BY"},
  {:title => "North Atlantic Right Whale",
  :author => "Lauren Packard",
  :source => "Flickr",
  :url => "https://www.flickr.com/photos/110485367@N08/11179893704/in/photolist-eZcjaA-eGFK4v-qiHTnQ-qD8in6-eGFPrZ-8SQyUB-8rcsCC-8EZLKD-6npCCx-eZcH3S-8mS34w-8F3WzN-fz2tEo-gH5yWy-i2VSU1-ouEyEi-9yQqys-9yMoSK-9yQqho-oHCMZc-foLnZX-fgKPWR-fh7ciL-fkFLJZ-fz2s6u-9yMp5t-piCqxf-fh19FN-9WaMjB-q5S2Ke-5GooTp-dS7xXz-fh7zth-fkWvhf-eGFCGp-fgKMex-fgRKde-fz2sEf-7waojs-9yQpDW-kjReHN-atWVNc-8STDRu-eGFERt-6R3Scs-bWTBXM-atWVng-6TyJak-7RvCPR-6PxhG2/",
  :license => "CC-BY"},
  {:title => "Dusky Leaf Monkey",
  :author => "Robert Pollai",
  :source => "Wikimedia Commons",
  :url => "http://eol.org/data_objects/5917619",
  :license => "CC-BY"},
  {:title => "Manitoba Museum Butterflies",
  :author => "Mike Beauregard",
  :source => "Flickr",
  :url => "https://www.flickr.com/photos/31856336@N03/4814512336/in/photolist-8krCMo-8tqFhC-4Svq6K-6P4ecT-boc6sN-fNry5d-EVDCb-pXsFPz-8NhuMc-e3aG6M-4hbvqi-b3Rtft-6S9EXd-73rtak-7vrGzR-9e8hcg-7rVXzN-b6LbCp-dmqYXw-dhNg7T-ykZApL-9aVFRQ-ako3HC-65BU8u-p5ZUk8-aRQkrT-6qEM5N-6qAANg-6qWHaD-b6Lb8p-e3aG7c-fNryqf-6qWGze-dg3Ybz-dmhvPP-87xaWP-8NhKme-fNryAJ-b6Lbvz-4zAeMJ-8Nqshn-7bBZ9N-b6Lcg8-q5dJB8-b6Lcbt-dfiWgm-XdmHT-79zG4j-oXPrUe-7VWDR7",
  :license => "CC-BY"},
  {:title => "Windy Day at the Coast",
  :author => "Wouter de Bruijn",
  :source => "Flickr",
  :url => "https://www.flickr.com/photos/w00ter/14867569415",
  :license => "CC-BY-NC-SA"},
  {:title => "Grass",
  :author => "Moyan Brenn",
  :source => "Flickr",
  :url => "https://www.flickr.com/photos/aigle_dore/5626321957/in/photolist-9zbnuZ-4Aud8F-a25ToA-pa53sN-feYXqG-PSZd2-da63kK-9P6tT8-6gpKDp-2nauBJ-6XgNKL-3aNXdZ-pvHw4C-fzv4f6-dUXwSf-5rGf2P-8noPze-3am2K-bCjHrL-9G1mov-c3g9DU-8xQjWk-2fuU9K-6yGhKj-5oHuSt-7ndNN-qDmPtw-5pzDtw-b12Lw-eT8X7S-7zBL2-4XmZwT-cWwWi7-51eajc-rse9A-4kXut-9PtF4q-23ve4H-2bAPx-pgjFnQ-bwPKam-7zBHZ-5Aoces-aSMdHH-89A5RZ-2gSVa-axj9Ez-a24W4b-NhDLu-qkFFfQ",
  :license => "CC-BY"}]
