= render "card_maker/js_templates/util"
= render "card_maker/js_templates/manager"
= render "card_maker/js_templates/editor"

-#



  %script#UserDecksTemplate{ :type => "text/x-handlebars-template"}
    .deck-wrap.user-deck-wrap

.card-hdr-box
  .card-hdr-inner
    .left-blur-bg
    %h2.create-card-hdr.hdr
      = image_tag icon_path("eol_logo_hdr.png"), :class => :'hdr-logo'
      Card Maker
    .right-blur-bg

#CardManagerWrap
  .hdr-spacer.red
  #CardManager.card-manager.card-screen
    .screen-inner.manager-inner
      .welcome-block.maker-welcome-block
        = image_tag icon_path("ladybug.png"), :class => "ladybug"
        %h3.welcome-txt>
          %span.big-letter> W
          elcome to the
          = image_tag icon_path("eol_logo_sub_hdr.png"), :class => "eol_logo"
          Card Manager.
      .manager-ctrls
        .new-resource-btns
          #NewCard.new-resource-btn-wrap
            .new-resource-txt Create a card
            .new-resource-btn.new-card-btn
              = image_tag icon_path("new_card.png")
          = image_tag icon_path("card_manager_logo.png"), :class => "manager-logo", :id => "ManagerLogo"
          #NewDeck.new-resource-btn-wrap
            .new-resource-txt Create a deck
            .new-resource-btn.new-deck-btn
              = image_tag icon_path("new_deck.png")
        .filters
          #CardFilter.filter.selected.first>
            .filter-icon>
              %i.icon-card.icon
              #CardCount.count> &mdash;
            .filter-selection> All cards
            .down-arrow
          #DeckFilter.filter>
            .btn
              .filter-icon>
                %i.icon-deck.icon
                #DeckCount.count> &mdash;
              .filter-selection> All decks
              .down-arrow
                = image_tag "card_maker/down_arrow.png", :class => "down-arrow-img"
            %ul.filter-items.hidden
      .user-resources.user-decks#UserResources
      .manager-bottom


#CardGeneratorWrap.card-generator-wrap
  .hdr-spacer.green
  #CardGenerator.card-generator.card-screen
    .screen-inner
      .welcome-block.generator-welcome-block
        #BackToManagerBtn.manager-btn
          .manager-btn-bg
          .manager-btn-back-txt go back to
          .manager-btn-txt-wrap
            %i.icon-deck
            .manager-btn-txt Card Manager
        %h3.welcome-txt>
          %span.big-letter> W
          elcome to the EOL Card Editor.
        -#.tips-box>
          .tips-txt tips
        = image_tag icon_path("ladybug.png"), :class => "ladybug"
      #Cols.cols
        #LeftCol.col.left-col>
          #LeftColHeadBox.col-head-box
            .col-head-txt Card Preview
            .col-head-sub-txt (Live Preview, Image Controls, Save + Exit Options)
          #Preview.preview
            #PreviewImgSelect.img-select>
            .controls-card-wrap
              .img-controls>
                #ImgBtnLabel.txt.tip Flip horizontal
                #ImgBtns.btns.ctrl.img-btns
                  = image_tag "card_maker/icons/rotate.png", :class => "btn top", :id => "RotateBtn", :data => { :label => "Rotate 90&deg;"}
                  = image_tag "card_maker/icons/flip_horiz.png", :class => "btn mid", :id => "FlipHorizBtn", :data => { :label => "Flip horizontal" }
                  = image_tag "card_maker/icons/flip_vert.png", :class => "btn bot", :id => "FlipVertBtn", :data => { :label => "Flip vertical" }
                .sep
                #ZoomControls
                  #ZoomPct.zoom-txt.txt
                  .zoom.ctrl
                    #ZoomPlus.dir.plus.noselect +
                    #ZoomStem.stem
                      .lft>
                      .rt>
                      #ZoomKnob.knob
                    #ZoomMinus.dir.minus.noselect &ndash;
              .card-box
                %canvas#CardCanvas.card-canvas
                %a#EolLink.eol-link{:href => "#", :target => "_blank"}
                  %span Open
                  %i.icon-eol-logo
                  %span taxon page
              .preview-btns
                .btn.close
                  .btn-txt Close
                .btn.save-exit
                  .btn-txt Save + Exit
                .btn.save
                  .btn-txt Quick Save

        #RightCol.col.right-col>
          .col-head-box
            .col-head-txt Card Form
            .col-head-sub-txt (enter information that will appear on the card)
          #CardFieldsWrap.card-fields-wrap
            #CardFields.card-fields
