= render "card_maker/js_templates/manager"
= render "card_maker/js_templates/editor"

-#
  %script#DeckTemplate{:type => "text/x-handlebars-template"}
    .resource-wrap.user-resource-wrap
      .resource-frame.user-resource-frame
        %i.fa.fa-image.fa-4x.title-card-placeholder
      .deck-name {{name}}

  %script#DeckOverlayTemplate{:type => "text/x-handlebars-template"}
    .deck-overlay.resource-overlay
      %i.fa.fa-folder-open-o.fa-3x.edit-btn.btn
      %i.fa.fa-trash-o.fa-3x.trash-btn.btn

  %script#UserDecksTemplate{ :type => "text/x-handlebars-template"}
    .deck-wrap.user-deck-wrap

.card-hdr-box
  .card-hdr-inner
    .left-blur-bg
    %h2.create-card-hdr.hdr
      = image_tag "welcome/eol_logo.png", :class => :'hdr-logo'
      Card Maker
    .right-blur-bg
#CardManagerWrap
  .hdr-spacer.red
  #CardManager.card-manager.card-screen
    .screen-inner.manager-inner
      .welcome-block.maker-welcome-block
        %h3.welcome-txt>
          %span.big-letter> W
          elcome to the EOL Card Manager.
      .manager-ctrls
        .new-resource-btns
          .new-resource-btn-wrap
            .new-resource-txt Create a new card
            .new-resource-btn.new-card-btn
          .new-resource-btn-wrap
            .new-resource-txt Create a new deck
            .new-resource-btn.new-deck-btn
        .filters
          .filter.selected>
            .filter-icon>
            .filter-drop> All cards
          .filter>
            .filter-icon>
            .filter-drop> All decks

      .user-resources.user-decks#UserResources
        #NewResource.resource-wrap.new-resource
          .resource-frame
            %i.fa.fa-plus.fa-3x.new-resource-icon
#CardGeneratorWrap.card-generator-wrap
  .hdr-spacer.green
  #CardGenerator.card-generator.card-screen
    .screen-inner
      .welcome-block.generator-welcome-block
        %h3.welcome-txt>
          %span.big-letter> W
          elcome to the EOL Card Editor.
        .tips-box>
          .tips-txt tips
      #Cols.cols
        .disable-overlay.hidden
        #LeftCol.col.left-col>
          #LeftColHeadBox.col-head-box
            .col-head-txt Card Preview
            .col-head-sub-txt (Live Preview, Image Controls, Save + Exit Options)
          #Preview.preview
            #PreviewImgSelect.img-select>
            .controls-card-wrap
              .img-controls>
                #ImgBtnLabel.txt.tip Flip horizontal
                #ImgBtns.btns.ctrl.img-btns
                  = image_tag "card_maker/icons/rotate.png", :class => "btn top", :id => "RotateBtn", :data => { :label => "Rotate 90&deg;"}
                  = image_tag "card_maker/icons/flip_horiz.png", :class => "btn mid", :id => "FlipHorizBtn", :data => { :label => "Flip horizontal" }
                  = image_tag "card_maker/icons/flip_vert.png", :class => "btn bot", :id => "FlipVertBtn", :data => { :label => "Flip vertical" }
                .sep
                #ZoomControls
                  #ZoomPct.zoom-txt.txt
                  .zoom.ctrl
                    #ZoomPlus.dir.plus.noselect +
                    #ZoomStem.stem
                      .lft>
                      .rt>
                      #ZoomKnob.knob
                    #ZoomMinus.dir.minus.noselect &ndash;
              .card-box
                %canvas#CardCanvas.card-canvas
              .preview-btns
                .btn.close
                  .btn-txt Close
                .btn.save-exit
                  .btn-txt Save + Exit
                .btn.save
                  .btn-txt Quick Save

        #RightCol.col.right-col>
          .col-head-box
            .col-head-txt Card Form
            .col-head-sub-txt (enter information that will appear on the card)
          #CardFieldsWrap.card-fields-wrap
            .disable-overlay.hidden
            #CardFields.card-fields
