<%= form_tag("#", id: "url_lang") do %>
  <div class="fieldset">
    <%= label_tag "url_lang", "Change via url param: " %>
    <%= select_tag "url_lang", options_for_select(url_lang_select_options, selected: url_lang_selected ) %>
    <%= submit_tag "Change" %>
  </div>
<% end %>

<% if logged_in_user %>
  <%= form_tag("#", id: "user_lang") do %>
    <div class="fieldset">
      <%= label_tag "user_lang", "Change user language: " %>
      <%= select_tag "user_lang", options_for_select(user_lang_select_options, selected: logged_in_user.locale ) %>
      <%= submit_tag "Change" %>
    </div>
  <% end %>
<% end %>

<h1><%= t ".welcome_html", time: (l Time.now) %></h1>
