%ul.observer-card-links
  %li.observer-card-link
    = link_to "observer_cards/#{type}_cards_ebook.pdf" do
      %i.fa.fa-2x.fa-book>
      %br
      = t(".#{type}_cards_ebook")
  %li.observer-card-link
    = link_to "observer_cards/#{type}_cards_print.pdf" do
      %i.fa.fa-2x.fa-download>
      %br
      = t(".download_printable_deck")
