%ul.observer-card-links
  %li.observer-card-link
    = link_to "#" do
      %i.fa.fa-2x.fa-book
      %div= t(".#{type}_cards_ebook")
  %li.observer-card-link
    = link_to "#" do
      %i.fa.fa-2x.fa-download
      %div= t(".download_printable_deck")
