= render "shared/intro_section", header: "cards.index.intro_header", paragraphs: ["cards.index.intro_text1", "cards.index.intro_text2"]

.card-resources
  %ul.anchor-links
    %li.anchor-link.anchor-link-types>
      %a{href: "#CardTypes"}= t(".card_types_header")
    %li.anchor-link.anchor-link-tutorials>
      %a{href: "#Tutorials"}= t(".tutorials_header")
    %li.anchor-link.anchor-link-activities> 
      %a{href: "#Activities"}= t(".activities_header")
    %li.anchor-link.anchor-link-standards>
      %a{href: "#Standards"}= t(".standards_header")
.section
  %a#CardTypes.section-anchor
  %h3.section-head-cards.section-head-cards-types= t(".card_types_header")
  %p.text.text-p.text-p-cards= t(".card_types_text")
  %ul.cards<
    = render "card", image_file_name: "trait.png", name: t(".trait_name"), desc: t(".trait_desc")
    = render "card", image_file_name: "title.png", name: t(".title_name"), desc: t(".title_desc")
    = render "card", image_file_name: "project.png", name: t(".project_name"), desc: t(".project_desc")
    = render "card", image_file_name: "vocab.png", name: t(".vocabulary_name"), desc: t(".vocabulary_desc")
    = render "card", image_file_name: "key.png", name: t(".key_name"), desc: t(".key_desc")
.section
  %a#Tutorials.section-anchor
  %h3.section-head-cards.section-head-cards-tutorials= t(".tutorials_header")
  %p.text.text-p.text-p-cards= t(".tutorials_text")
  %ul.tutorials<
    = render "tutorial", icon_file_name: "create.png", file_name: "card_editor_tutorial.pdf", name: t(".card_editor_tutorial_title"), desc: t(".card_editor_tutorial_desc")
    = render "tutorial", icon_file_name: "manager.png", file_name: "card_manager_tutorial.pdf", name: t(".card_manager_tutorial_title"), desc: t(".card_manager_tutorial_desc")
  %a#Activities.section-anchor
  %h3.section-head-cards.section-head-cards-activities= t(".activities_header")
  %p.text.text-p.text-p-cards= t(".activities_text")
  %ul.cards.cards-activity<
    = render "card", image_file_name: "trait.png", name: t(".blank_cards_pdf"), desc: t(".trait_desc"), file_path: "activities/blank_species_card_packet.pdf"
    = render "card", image_file_name: "trait.png", name: t(".food_chain_template"), desc: t(".trait_desc"), file_path: "activities/foodchain.pdf"
    = render "card", image_file_name: "trait.png", name: t(".trophic_food_pyramid"), desc: t(".trait_desc"), file_path: "activities/trophic_pyramid_eol_cards.pdf"
  %h4= t(".lesson_plans")
  %ul.lesson-plans<
    = render "activity", lesson_plan: @food_chains_rummy, text: t(".food_chains_rummy_html")
    = render "activity", lesson_plan: @thats_classified, text: t(".thats_classified_html")
    = render "activity", lesson_plan: @go_adapt, text: t(".go_adapt_html")
    = render "activity", lesson_plan: @create_a_creature, text: t(".create_a_creature_html")
  %a#Standards.section-anchor
  %h3.section-head-cards.section-head-cards-standards= t(".data_resources_organizers_header")
  %p.text.text-p.text-p-cards= t(".research_tools_desc")
  %h4.trait-steps-hdr= t(".steps_header")
  %ul.trait-steps
    = render "trait_step", file_name: "choose_species.png", text: "1. Choose a species"
    = render "trait_step", file_name: "research.png", text: "2. Research species traits"
    = render "trait_step", file_name: "create.png", text: "3. Create card in Card Maker"
    = render "trait_step", file_name: "publish.png", text: "4. Publish/print card"

  %h4.sub-head= t(".data_subheader")
  .section-organizers
    .main-organizer>
      = link_to "card_resources/make_biodiversity_cards.pdf", class: "main-organizer-link" do
        = image_tag "cards/organizer_icons/intro_icon.png", class: "main-organizer-img"
        %p.text.text-p.text-p-cards= t(".intro_organizer")
    %ul.organizers>
      = render "organizer", title: "Example Cards (PDF)", file_name: "card_examples.pdf"
      = render "organizer", title: "Card Research Organizer (Word Doc)", file_name: "card_research_organizer.docx"
      = render "organizer", title: "Resources for Trait Research (Excel)", file_name: "trait_research_resources.xlsx"
      = render "organizer", title: "Biodiversity Vocabulary (Word Doc)", file_name: "card_vocabulary.docx"
      = render "organizer", title: "Data Collection Template (Excel)", file_name: "card_data_collection_template_simple.xlsx"
      = render "organizer", title: "Advanced Collection Template (Excel)", file_name: "data_collection_template_advanced.xlsx"
