= render "shared/intro_section", :header => "resources.cards.cards_hdr",
  :paragraphs => ["resources.cards.intro_p"],
  :hideable => false
= render "shared/section_head", :title_key => "resources.cards.featured_decks"
%ul.featured-decks<
  = render "featured", :class_str => "first",
    :image_name => "bioblitz",
    :desc_key => "bioblitz"
  = render "featured", :class_str => "second",
    :image_name => "okaloosa",
    :desc_key => "bioblitz"
  = render "featured", :class_str => "third",
    :image_name => "new_england",
    :desc_key => "bioblitz"
  = render "featured", :class_str => "fourth",
    :image_name => "earthwatch",
    :desc_key => "bioblitz"
= render "shared/section_head", :title_key => "resources.cards.all_decks"
%ul.all-decks<
  - all_decks.each_with_index do |deck, index|
    = render "deck", :deck => deck, :index => index
