%h1= t(".intro_header")

%p.text.text-intro= t(".intro_text1")
%p.text.text-intro= t(".intro_text2")

.card-resources
  %ul.anchor-links
    %li.anchor-link.anchor-link-types>
      %a{href: "#CardTypes"}= t(".card_types_header")
    %li.anchor-link.anchor-link-tutorials>
      %a{href: "#Tutorials"}= t(".tutorials_header")
    %li.anchor-link.anchor-link-activities> 
      %a{href: "#Activities"}= t(".activities_header")
    %li.anchor-link.anchor-link-standards>
      %a{href: "#Standards"}= t(".standards_header")
.section
  %a#CardTypes.section-anchor
  %h3.section-head-cards.section-head-cards-types= t(".card_types_header")
  %p.text= t(".card_types_text")
  %ul.card-types<
    = render "card_type", image_file_name: "trait.png", name: t(".trait_name"), desc: t(".trait_desc")
    = render "card_type", image_file_name: "title.png", name: t(".title_name"), desc: t(".title_desc")
    = render "card_type", image_file_name: "project.png", name: t(".project_name"), desc: t(".project_desc")
    = render "card_type", image_file_name: "vocab.png", name: t(".vocabulary_name"), desc: t(".vocabulary_desc")
    = render "card_type", image_file_name: "key.png", name: t(".key_name"), desc: t(".key_desc")
.section
  %a#Tutorials.section-anchor
  %h3.section-head-cards.section-head-cards-tutorials= t(".tutorials_header")
  %p.text= t(".tutorials_text")
  %ul.tutorials<
    = render "tutorial", icon_file_name: "create.png", file_name: "card_editor_tutorial.pdf", name: t(".card_editor_tutorial_title"), desc: t(".card_editor_tutorial_desc")
    = render "tutorial", icon_file_name: "manager.png", file_name: "card_manager_tutorial.pdf", name: t(".card_manager_tutorial_title"), desc: t(".card_manager_tutorial_desc")
  %a#Activities.section-anchor
  %h3.section-head-cards.section-head-cards-activities= t(".activities_header")
  %p.text= t(".activities_text")
  %ul.activities<
    = render "activity", lesson_plan: @food_chains_rummy, text: t(".food_chains_rummy")
    = render "activity", lesson_plan: @thats_classified, text: t(".thats_classified")
    = render "activity", lesson_plan: @go_adapt, text: t(".go_adapt")
    = render "activity", lesson_plan: @create_a_creature, text: t(".create_a_creature")
  %a#Standards.section-anchor
  %h3.section-head-cards.section-head-cards-standards Standards
