<% if notice %>
  <div id="Notice"><%= notice %></div>
<% end %>

<h1><%= t("user_sessions.sign_in") %></h1>

<%= form_for(:user_session) do |f| %>
  <div class="field">
    <%= f.label :user_name %>
    <%= f.text_field :user_name %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <% if @msg %>
    <div class="login-msg"><%= @msg %></div>
  <% end %>

  <%= f.submit t("user_sessions.sign_in") %>
<% end %>
