<p id="notice"><%= notice %></p>

<%= editable_tag(:h1, @place.h1_key) %>

<table>
  <thead>
    <tr>
      <th>Habitats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @place.habitats.each do |habitat| %>
      <tr>
        <td><%= habitat.name %></td>
        <td><%= link_to 'Show', place_habitat_path(@place, habitat) %></td>
        <td><%= link_to 'Edit', edit_place_habitat_path(@place, habitat) %></td>
        <td><%= link_to 'Destroy', place_habitat_path(@place, habitat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add a habitat', new_place_habitat_path(@place) %><br/><br/>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
