<!DOCTYPE html>
<html>
<head>
  <title>Eddev</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <script src="https://d3js.org/d3.v3.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/draft_header" %>
  <%#  <%= render partial: "shared/header" %>

  <%= yield %>

  <%= render partial: "shared/footer" %>
</body>
</html>
