!!! 5
%html{:lang => I18n.locale}
  %head
    %title EOL Learning + Education

    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}

    = stylesheet_link_tag "reset", :media => "all"
    = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css", :media => "all"
    = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css", :media => "all"
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", :media => "all"
    = stylesheet_link_tag "application", :media => "all"

    -if asset_exists? "#{params[:controller]}.css"
      = stylesheet_link_tag params[:controller], :media => 'all'
    = stylesheet_pack_tag "application"

    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.ui/1.11.4/jquery-ui.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"
    = javascript_include_tag "application"

    -# Order is important! Set the locale before including js_packs
    :javascript
      I18n.defaultLocale = "#{I18n.default_locale}";
      I18n.locale = "#{I18n.locale}";

    -if asset_exists? "#{params[:controller]}.js"
      = javascript_include_tag params[:controller]

    = javascript_pack_tag "application"

    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"
    :javascript
      WebFont.load({
        google: {
          families: [
            'Open Sans:300,400,600,700,300i,400i,600i,700i',
            'Merriweather:300,400'
          ]
        },
        active: function() {
          $.each(EolUtil.fontsLoadedCallbacks(), function(i, fn){
            fn();
          });
        }
      });

    = favicon_link_tag
    = csrf_meta_tags
  %body
    - if Rails.env.production? && Rails.application.config.x.enable_ga
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-36394558-1', 'auto');
        ga('send', 'pageview');

    #Page
      - if flash[:global_notice]
        .notice.js-notice= flash[:global_notice]
      = render "shared/header"

      -unless @nohero
        #HeroImage.hero-image
          = render "shared/hero_slim"

      %main{:role => "main", :class => (main_nopad_bot? ? "is-nopad-bot" : "")}
        - if @disable_main_col
          = yield
        - else
          .main-col
            = yield

      - unless @nofooter
        = render "shared/footer"
    = render "shared/mob_menu"
