!!! 5
%html{:lang => I18n.locale}
  = render "layouts/head"
  %body
    #Page
      - if flash[:global_notice]
        .notice.js-notice= flash[:global_notice]
      = render "shared/header"
      -unless @nohero
        #HeroImage.hero-image
          = render "shared/hero_slim"

      %main{:role => "main", :class => (main_nopad_bot? ? "is-nopad-bot" : "")}
        - if @disable_main_col
          = yield
        - else
          .main-col
            = yield

      = render "shared/footer"
    = render "shared/mob_menu"
