!!! 5
%html{:lang => I18n.locale}
  %head
    %title EOL Learning + Education

    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=device-width,initial-scale=1"}

    = stylesheet_link_tag "reset", :media => "all"
    = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css", :media => "all"
    = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css", :media => "all"
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css", :media => "all"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", :media => "all"
    = stylesheet_link_tag "application", :media => "all"

    -if asset_exists? "#{params[:controller]}.css"
      = stylesheet_link_tag params[:controller], :media => 'all'

    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"
    = javascript_include_tag "application"

    -if asset_exists? "#{params[:controller]}.js"
      = javascript_include_tag params[:controller]

    = favicon_link_tag
    = csrf_meta_tags
  %body
    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12027654-2', 'auto');
        ga('send', 'pageview');

    #Page
      = render "shared/header"
      #HeroImage.hero-image
        = render @hero_image_partial
      %main{:role => "main"}
        .main-col
          = yield
      = render "shared/footer"
